
/* notification */

@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
[data-notify="container-noti"][class*="alert-pastel-"] {
	background-color: rgb(255, 255, 238);
	border-width: 0px;
	border-left: 15px solid rgb(255, 240, 106);
	border-radius: 0px;
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
	font-family: 'Old Standard TT', serif;
  letter-spacing: 1px;
}
[data-notify="container-noti"].alert-pastel-info {
	border-left-color: rgb(70, 120, 247);
}
[data-notify="container-noti"].alert-pastel-danger {
	border-left-color: rgb(255, 103, 76);
}
[data-notify="container-noti"].alert-pastel-success {
	border-left-color: rgb(24, 218, 40);
}
[data-notify="container-noti"].alert-pastel-warning {
	border-left-color: rgb(245, 40, 3);
}
[data-notify="container-noti"][class*="alert-pastel-"] > [data-notify="icon"] {
	color: #ff5722;
}
[data-notify="container-noti"][class*="alert-pastel-"] > [data-notify="title"] {
	color: rgb(80, 80, 57);
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
}
[data-notify="container-noti"][class*="alert-pastel-"] > [data-notify="message"] {
  font-weight: 400;
	color: #ff5722;
}

/* end noti */