body {
    color: black;
    font-family: 'Times New Roman';
}

p {
    margin-bottom: 0
}

/* Padding */
.pd-l-15 {
    padding-left: 15px!important
}

/* Font size */
.fs-12 {
    font-size: 12pt
}

.fs-12-5 {
    font-size: 12.5pt
}

.fs-13-5 {
    font-size: 13.5pt
}

.fs-14 {
    font-size: 14pt
}

.fs-15 {
    font-size: 15pt
}

.fs-20 {
    font-size: 20pt
}